
@{
    ViewData["Title"] = "Index";
}


<div style="width:600px;" class=" jumbotron card col d-flex justify-content-center">
<h1>Contact</h1>
<hr />
        <p></p>
        <img class="card-img-top" style="width:220px;" src="/images/electroshop5.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Contact info:</h5>
            <p class="card-text">Phonenumber: 010 123 1234.</p>
            <p class="card-text">Address: Lexiconstreet 1234.</p>
            <p class="card-text">Zipcode: Lexicon City LC-4567.</p>
            <email class="card-text text-center shadow btn btn-primary" content="Send mail" address="electroshop.support@ElectroShop.se"></email>
        </div>
    </div>