@model ShoppingCartViewModel

<!-- This will show the cart image whit the counted amount in image icon. -->
@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
        <a>
            @Model.ShoppingCart.GetShoppingCartTotalAmount()
        </a>
}