@{
}
@model IEnumerable<IProductRepository>


<!-- Vi behöver lägga till dynamiska parametrar för prdukterna sen via ModelBinding-->
<div id="carouselExampleIndicators" class="jumbotron carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a style="text-decoration: none;" href="#">
                <h3 class="text-center">Clock Module</h3>
                <h2 class="text-center" style="color:#FF1B1C">REA 50:-</h2>
                <img class="d-block w-100" src="/images/1.png" alt="First slide">
            </a>
        </div>

        <div class="carousel-item">
            <a style="text-decoration: none;" href="#">
                <h3 class="text-center">Raspberry Pi 2B</h3>
                <h2 class="text-center" style="color:#FF1B1C">REA 350:-</h2>
                <img class="d-block w-100" src="/images/2.png">
            </a>
        </div>
        <div class="carousel-item">
            <a style="text-decoration: none;" href="#">
                <h3 class="text-center">Raspberry Pi 2B/3B/4B Cam V1.2</h3>
                <h2 class="text-center" style="color:#FF1B1C">REA 150:-</h2>
                <img class="d-block w-100" src="/images/3.png" alt="Third slide">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>