@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form class="form-check-inline text" oninput="rate.value=parseInt(Array.from(document.querySelectorAll(`input[name='rating']`)).filter(e=>e.checked)[0].value)">
  <div class="rate">
    <input type="radio" id="5" value="5" name="rating" />
    <label for="5"></label>
    <input type="radio" id="4" value="4" name="rating" />
    <label for="4"></label>
    <input type="radio" id="3" value="3" name="rating" />
    <label for="3"></label>
    <input type="radio" id="2" value="2" name="rating" />
    <label for="2"></label>
    <input type="radio" id="1" value="1" name="rating" />
    <label for="1"></label>
  </div>
  <output name="rate"></output>
</form>