@model IEnumerable<ShoppingCartItem>


<table class="table text-center" style="margin:auto;">
    <thead style="background-color:#ACBFA4;">
        <tr>
            <th>Amount</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model)
        {
            <tr>
                <td class="text-left">@line.Amount</td>
                <td class="text-left">@line.product.Name</td>
                <td class="text-right">@line.product.Price.ToString("c")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total price:</td>
            <td class="text-right">@Model.Select(line => line.product.Price * line.Amount).Sum()SEK</td>
        </tr>
    </tfoot>
</table>
