@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron">
    <div class="text-start">
        <h1 class="display-4">FAQ</h1>
        <h3>Some customer FAQ</h3>
        <ul>
            <li>Are you going to get your credits back?</li>
            <ul>
                <li>Answer: No, but if...</li>
            </ul>
            <li>Are Electro Shop world spred?</li>
            <ul>
                <li>Answer: No. Only in the southern parts of Värmland.</li>
            </ul>
        </ul>
    </div>
</div>
