@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
@*    <!-- Sidebar -->
    <div class="sidenav">
        <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
        <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    </div>*@
    <div class="text-center">
        <h1 class="display-4">Welcome Electro Shoppers!!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
<p></p>
<div>
    @await Component.InvokeAsync("OnSaleCarousel")
</div>