@{
    ViewData["Title"] = "Home Page";
}

<div id="covid">
    <a>
        <p>Covid-19 information: Do not go out, but do it.</p>
    </a>
</div>

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome Electro Shoppers!!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
<p></p>
<div>
    <partial name="_Carousel" />
</div>