@model IEnumerable<ProductModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@foreach(var items in Model){
<div id="rater">
    <div style="float:left;">
        <form id="rate" method="get" action="">
            <input class="auto-submit-star" type="radio" name="score" value="1" />
            <input class="auto-submit-star" type="radio" name="score" value="2" />
            <input class="auto-submit-star" type="radio" name="score" value="3" />
            <input class="auto-submit-star" type="radio" name="score" value="4" />
            <input class="auto-submit-star" type="radio" name="score" value="5" />
            <input type="hidden" name="ArticleID" value="<%=Model.ArticleID %>" />
        </form>
    </div>
</div>
}