
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="">
    <form name="rate" method="post">
        <div name="review" form-group form-control">
            <textarea id="text" class="form-control" placeholder="review" rows="3" name="review"></textarea>
        </div>
            <button id="buttonSubmit" type="submit" class="shadow btn btn-primary" name="rate">Review Submit</button>
    </form>
</div>